div {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 8px;
    border-radius: 6px;
    display: inline-block;
    transition: .2s;
    width: 700px;
    height: 200px;
    font-family: Verdana, Geneva, Tahoma, bold;
    border: 2px solid black
}
div h2 {
    text-align: center;
}
div:hover {
    transform: scale(1.05);
}
div.admin {
    background-color: lightcoral;
    color: white;
}

div:first-child {
    margin-left: 0;
}

button{
    color: white;
    background-color: darkred;
    border-radius: 5px;
    border: 1px solid white 
}